@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .about-pic {
    display: none;
  }
  #profile,
  .section-container {
    display: flex;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
    margin: 0;
    justify-content: space-evenly;
  }

  section {
    margin: 0 5%;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 770px) {
  #profile {
    height: 60vh;
  }

  #project,
  #contact {
    height: 50vh;
  }

  footer {
    height: 60vh;
  }

  footer,
  header {
    height: fit-content;
    margin-bottom: 2rem;
  }

  header {
    margin-top: 1rem;
  }

  .section-container {
    height: fit-content;
    justify-content: space-evenly;
    margin: 0;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .section__text__p2 {
    font-size: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .note-container {
    width: 100%;
  }

  .tab-contents ul li span {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    color: black;
  }

  .tab-links {
    /* gap: 2rem; */
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  .section__pic-container img {
    height: 250px;
    width: 250px;
    margin: auto 0;
    margin-bottom: 1rem;
  }

  #profile {
    height: 70vh;
  }

  .tab-contents ul li span,
  .tab-contents ul li {
    font-size: 0.75rem;
  }

  .tab-titles {
    margin-left: -10px;
  }
}

@media screen and (max-width: 375px) {
  .section-container {
    height: fit-content;
    margin: 0;
  }

  .tab-titles {
    margin-left: -40px;
  }
}
